<div class="container">
  <div *ngIf="public">Evento publico</div>

  <div class="row justify-content-center">
    <div *ngIf="loading">
      <div class="d-flex justify-content-center m-5">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
    </div>
    <div *ngIf="!loading" class="col-12 col-md-12 p-1">
      <form [formGroup]="eventDayForm" class="p-1 m-auto" id="eventDayForm">
        <div class="form-group">
          <label for="example-date-input" class="col-form-label">Nombre</label>
          <input
            type="text"
            placeholder="Nombre del Evento"
            id="eventName"
            formControlName="eventName"
            class="form-control"
          />
        </div>
        <div *ngIf="public">
          <label for="example-date-input" class="col-form-label">Email</label>
          <input
            type="email"
            id="ownerEmail"
            placeholder="Su email"
            formControlName="ownerEmail"
            class="form-control"
          />
        </div>

        <div class="mt-3">
          <p>Listado de opciones horarias</p>
        </div>

        <!--

CHECKBOX DELETE


         -->
        <div [formGroup]="deletedOptions">
          <tr *ngFor="let day of event?.eventDays; let idx = index">
            <input
              type="checkbox"
              [value]="day.id"
              (change)="onChange(day.id, $event.target.checked)"
            />

            <span class="badge" type="date"
              >Opcion {{ idx + 1 }} ->
              {{ day.eventDate | date: "dd/MM/yyyy h:mm a" }}</span
            >
            <span class="ml-1 badge p-1" type="date"
              >- {{ sumDate(day) | date: "dd/MM/yyyy h:mm a" }}</span
            >
          </tr>
        </div>

        <div formArrayName="days">
          <div *ngFor="let day of days.controls; let i = index">
            <div id="grupoBotones" [formGroupName]="i">
              <div id="alinear" class="row p-1">
                <div class="col-lg-5 p-1">
                  <input
                    placeholder="Hora de inicio"
                    class="form-control"
                    type="datetime-local"
                    formControlName="eventDate"
                  />
                </div>
                <div class="col-lg-4 p-1">
                  <input
                    placeholder="Duracion en horas"
                    class="form-control"
                    type="number"
                    formControlName="duration"
                  />
                </div>
                <div class="col-lg-2">
                  <button class="btn btn-danger" (click)="removeDay(i)">
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-2" id="grupoBotones">
          <button type="button" class="btn btn-dark" (click)="addDay()">
            Agregar Fecha
          </button>
          <button
            class="btn btn-danger m-2"
            (click)="removeSelected()"
            [hidden]="deletedOptions.value.opcion.length === 0"
          >
            Eliminar Seleccionados
          </button>
        </div>

        <div class="form-group">
          Proteger con contraseña
          <div class="row">
            <div class="ml-2 col-lg-1 p-2">
              <input
                class="form-control"
                type="checkbox"
                name="myChk"
                id="myChk"
                (change)="triggerSomeEvent()"
              />
            </div>
            <div *ngIf="!isDisabled" class="col-lg-8 p-2">
              <input
                class="form-control"
                placeholder="Ingrese el password"
                formControlName="password"
                type="password"
                value=""
              />
            </div>
          </div>
        </div>

        <div class="form-group" id="grupoBotones">
          <button
            class="btn btn-dark"
            [disabled]="!eventDayForm.valid"
            (click)="addEvent()"
          >
            Guardar
          </button>
          <a
            routerLink="/home"
            class="btn btn-danger ml-1"
            (click)="closeEvent()"
            >Cancelar</a
          >
        </div>
      </form>
    </div>
  </div>
</div>

