<div class="justify-content-md-center">
  <h1 class="m-3">Dashboard</h1>
</div>
<div *ngIf="loading">
  <div class="d-flex justify-content-center m-5">
    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-11 d-flex justify-content-center mt-2">
    <div *ngIf="filteredEvents.length === 0">
      <h3>Aun no tiene eventos</h3>
    </div>
  </div>
</div>

<div *ngIf="!loading" id="contenedor" class="row">
  <div class="col-lg-5 m-2" id="recuadro">
    <h3 class="m-2">Eventos creados: {{ filteredEvents.length }} eventos</h3>
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre del Evento</th>
          <th scope="col">Publicado</th>
          <th scope="col">Protegido</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of filteredEvents; let idx = index">
          <td scope="row" data-label="Nombre">
            {{ event.name }}
          </td>
          <td data-label="Publicado">
            {{ event.published ? "SI" : "NO" }}
          </td>
          <td data-label="Seguridad">
            {{ event.password && event.password.length > 0 ? "SI" : "NO" }}
          </td>
          <td data-label="Revisar">
            <button
              class="btn btn-warning m-1"
              (click)="handleViewVotes(event.id)"
            >
              <span class="fa fa-eye"></span>
              Ver votos
            </button>
            <button class="btn btn-info m-1" (click)="handleViewLink(event.id)">
              <span class="fa fa-share-alt"></span> Compartir
            </button>
          </td>
          <td data-label="Editar">
            <button
              class="btn btn-primary btn-lg m-1 fa fa-pencil"
              (click)="handleEditEvent(event.id)"
            ></button>
            <button
              class="btn btn-danger btn-lg m-1 fa fa-trash-o"
              (click)="onRemove(event.id)"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-5 m-2" id="recuadro">
    <h3 class="m-2">Usuarios creados: X usuarios</h3>
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      
    </table>
  </div>
</div>

<ng-template #modalEditContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Editar evento</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <app-newevent
        [eventId]="eventId"
        (buttonClicked)="parentEventHandlerFunction($event)"
      ></app-newevent>
    </div>
  </div>
</ng-template>

<ng-template #modalOptionContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Votos</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div *ngIf="loadingVotes">
      <div class="d-flex justify-content-center m-5">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
    </div>
    <div *ngIf="!loadingVotes">
      <ul ul class="list-group" *ngFor="let day of days; let idy = index">
        <div class="p-3">
          Opción {{ idy + 1 }} -->
          <strong>
            {{ day.eventDate | date: "dd/MM/yyyy h:mm a" }} -
            {{ sumDate(day) | date: "dd/MM/yyyy h:mm a" }}
            <h6>Total: {{ day?.options?.length || 0 }} votos</h6></strong
          >
        </div>
        <div class="p-1 col-lg-8">
          <ul
            ul
            class="list-group"
            *ngFor="let option of day.options; let idy = index"
          >
            <li class="list-group-item list-group-item-success">
              {{ option.emailVotante }}
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #modalShare let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Compartir</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <h4>
        <label class="form-label-control" for="link">
          Link para compartir el evento:</label
        >
        <input class="form-control" value="{{ id }}" disabled />
      </h4>
    </div>
  </div>
</ng-template>
