<div class="row">
  <div class="col-lg-6">
    <div id="" class="justify-content-md-center mt-5">
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
      />
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

      <div class="row text-center">
        <div class="col-md-5">
          <div class="btn-group">
            <div
              class="btn btn-dark"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Anterior
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate"
            >
              Actual
            </div>
            <div
              class="btn btn-dark"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Siguiente
            </div>
          </div>
        </div>
        <div style="text-transform: capitalize" class="col-md-3">
          <h3>{{ viewDate | calendarDate: view + "ViewTitle":"es" }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-dark"
              (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month"
            >
              Mensual
            </div>
            <div
              class="btn btn-dark"
              (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week"
            >
              Semanal
            </div>
            <div
              class="btn btn-dark"
              (click)="setView(CalendarView.Day)"
              [class.active]="view === CalendarView.Day"
            >
              Diario
            </div>
          </div>
        </div>
      </div>
      <br />
      <div style="text-transform: capitalize" [ngSwitch]="view">
        <mwl-calendar-month-view
          [locale]="locale"
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleAddOption($event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          [locale]="locale"
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleAddOption($event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          [locale]="locale"
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleAddOption('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
  <!--ACA SEPARAMOS LAS COLUMNAS-->

  <div id="edit" class="col-lg-6">
    <div class="mt-5">
      <h3>
        Editar eventos
        <button class="btn btn-dark float-right" (click)="handleAddEvent()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            fill="currentColor"
            class="bi bi-plus-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
            />
          </svg>
        </button>
        <div class="clearfix"></div>
      </h3>

      <div class="">
        <table class="">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Acción</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let event of events">
              <td>
                <input
                  disabled
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="date"
                  mwlFlatpickr
                  [(ngModel)]="event.start"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="false"
                  dateFormat="Y-m-d"
                  altFormat="F j, Y H:i"
                  placeholder="{{ event.start | date: 'dd/MM/yyyy h:mm a' }}"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="datetime-local"
                  mwlFlatpickr
                  [(ngModel)]="event.end"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="{{ event.end | date: 'dd/MM/yyyy h:mm a' }}"
                />
              </td>

              <td>
                <button class="btn btn-info m-1" (click)="deleteEvent(event)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                    />
                  </svg>
                </button>
                <button class="btn btn-danger" (click)="deleteEvent(event)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-eraser-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"
                    />
                  </svg>
                </button>
                
              </td>
              
            </tr>


          </tbody>
        </table>
        <tr>
          <th>Event id</th>
          <th>Votante</th>
        </tr>
        <ul>
          <li *ngFor="let option of options">
            {{ option.eventId}}
          </li>
       </ul>       
      </div>
    </div>
  </div>

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

  <ng-template #modalOptionContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Reservar evento</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <app-option
          eventX="{{ modalOptionData?.event.id }}"
          eventTitle="{{ modalOptionData?.event.title }}"
          startDate="{{ modalOptionData?.event.start }}"
          endDate="{{ modalOptionData?.event.end }}"
        ></app-option>
      </div>
    </div>
  </ng-template>

  <!--
  <ng-template id="modal-add" #modalOptionContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 p-1">
        <form [formGroup]="dataFormOption" class="p-1 m-auto">
          <div class="form-group">
            <label for="example-date-input" class="col-form-label">Email</label>
            <input type="text" formControlName="name" class="form-control" />
          </div>
          <div class="form-group">
            <button
              class="btn btn-dark"
              [disabled]="!dataFormOption.valid"
              (click)="addOption()"
            >
              Confirmar
            </button>            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="close()"
        >
          Cancelar
        </button>
      </div>
    </div>
    
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
    
  </ng-template>
-->
  <ng-template #modalEventContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Agregar evento</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <app-newevent
          (buttonClicked)="parentEventHandlerFunction($event)"
        ></app-newevent>
      </div>
    </div>
  </ng-template>
</div>
