
<div class="container-fluid">
	<div class="col-lg-5"> 
		<form [formGroup]="dataForm" >	
			<div class="form-group">
			  <label for="exampleInputEmail1">Email address</label>
			  <input type="email" class="form-control"  formControlName="email" aria-describedby="emailHelp">
			</div>
			<div class="form-group">
			  <label for="exampleInputPassword1">Password</label>
			  <input type="password" class="form-control" formControlName="password">
			</div>
		 
			<hr>
			<button type="submit" [disabled]="!dataForm.valid" (click)="login()" class="btn btn-primary">Login</button>
			<br>
			<hr>
		</form>
	</div>
	
</div>
