
<div class="justify-content-md-center">
  <h1 class="m-3">Mis eventos</h1>
  <button class="btn btn-dark" (click)="handleAddEvent()">         
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      fill="currentColor"
      class="bi bi-plus-circle-fill"
      viewBox="0 0 16 16"
    >

      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
      />
      
    </svg>
    Crear
  </button>
</div>

<div *ngIf="loading">
  <div class="d-flex justify-content-center m-5">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>
</div>

<div *ngIf="!loading" id="wrapper" class="row m-2 ">
  <div class="col-lg-12 d-flex justify-content-center mt-2">
    <div *ngIf="(filteredEvents.length===0)"><h3> Aun no tiene eventos</h3><h4> Presione el boton Crear, ingrese el nombre y las fechas del mismo y compartalo con sus amigos</h4></div>
  </div>
  

  <div *ngFor="let event of filteredEvents; let idx = index" id="wrapper" class="col-lg-6 p-2 align-center" >
    <div class="page-header">

    </div>
    <table>
      <thead>
        <tr>
          <th scope="col">Nombre del Evento</th>
          <th scope="col">Opciones</th>
          <th scope="col">Publicado</th>
          <th scope="col">Protegido</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td scope="row" data-label="Nombre">
            <h3><span class="badge badge-secondary"> {{ event.name }}</span></h3>
          </td>

          <td data-label="Fecha">
            <li *ngFor="let day of event.eventDays; let idx = index">
              Opcion {{ idx + 1 }} ->
              {{ day.eventDate | date: "dd/MM/yyyy h:mm a" }}
              - {{ sumDate(day) | date: "dd/MM/yyyy h:mm a" }}
            </li>
          </td>
          <td data-label="Publicado">
            {{ event.published ? "SI" : "NO" }}
          </td>
          <td data-label="Seguridad">{{ event.password && event.password.length > 0 ? "SI" : "NO" }}</td>
          <td data-label="Revisar">
            <button
              class="btn btn-warning m-1 "
              (click)="handleViewVotes(event.eventDays)"
            >
            <span class="fa fa-eye"></span>
              Ver votos
            </button>
            <button
              class="btn btn-info m-1"
              (click)="handleViewLink(event.id)"
            ><span class=" fa fa-share-alt"></span> Compartir </button>
          </td>
          <td data-label="Editar">
            <button
              class="btn btn-primary btn-lg m-1 fa fa-pencil"
              (click)="handleEditEvent(event.id)"
            ></button>
            <button
              class="btn btn-danger btn-lg m-1 fa fa-trash-o"
              (click)="onRemove(event.id)"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <ng-template #modalEventContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Agregar evento</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <app-newevent
          (buttonClicked)="parentEventHandlerFunction($event)"
        ></app-newevent>
      </div>
    </div>
  </ng-template>

  <ng-template #modalEditContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Editar evento</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <app-newevent
          [eventId] = "eventId"
          (buttonClicked)="parentEventHandlerFunction($event)"
        ></app-newevent>
      </div>
    </div>
  </ng-template>

  <ng-template #modalOptionContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Votos</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul ul class="list-group" *ngFor="let day of days; let idy = index">
        <div class="p-3">
          Opción {{ idy + 1 }} -->
          <strong>
            {{ day.eventDate | date: "dd/MM/yyyy h:mm a" }} -
            {{ sumDate(day) | date: "dd/MM/yyyy h:mm a" }}
            <h6>Total: {{ day?.options?.length || 0 }} votos</h6></strong
          >
        </div>
        <div class="p-1 col-lg-8">
          <ul
            ul
            class="list-group"
            *ngFor="let option of day.options; let idy = index"
          >
            <li class="list-group-item list-group-item-success">
              {{ option.emailVotante }}
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </ng-template>

  <ng-template #modalShare let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Compartir</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <h4>
          <label class="form-label-control" for="link">
            Link para compartir el evento:</label
          >
          <input class="form-control" value="{{ id }}" disabled />
        </h4>
      </div>
    </div>
  </ng-template>
