<body>
   <span [innerHTML]="msg"></span>

    <div class="signup-form">
        <form [formGroup]="dataForm" method="post">
            <h2>Registrarse</h2>

            <div class="form-group">
                <div class="row">
                    <div class="col"><input type="text" class="form-control" name="first_name" placeholder="Nombre" formControlName="firstname" required="required"></div>
                    <div class="col"><input type="text" class="form-control" name="last_name" placeholder="Apellido" formControlName="lastname" required="required"></div>
                </div>        	
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar Password" formControlName="repassword" required="required">
            </div>        
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!dataForm.valid" (click)="signup()">Sign in</button>
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="#">Registrarme</a></div>
    </div>
</body>