<span [innerHTML]="msg"></span>
<div class="justify-content-md-center">
    <h1 class="m-3">Bienvenido a Meeting-o-Matic</h1>
    <h4>
      Puede crear eventos sin estar registrado o ingresar para administrarlos todos
       en un solo lugar
    </h4>
    <button class="btn btn-dark" (click)="handleAddEvent()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="currentColor"
        class="bi bi-plus-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
        />
      </svg>
    </button>
  </div>
<body>  

    <div class="signup-form">
        <form [formGroup]="dataForm" method="post">
            <h2>Registrarse</h2>

            <div class="form-group">
                <div class="row">
                    <div class="col"><input type="text" class="form-control" name="first_name" placeholder="Nombre" formControlName="firstname" required="required"></div>
                    <div class="col"><input type="text" class="form-control" name="last_name" placeholder="Apellido" formControlName="lastname" required="required"></div>
                </div>        	
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar Password" formControlName="repassword" required="required">
            </div>        
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!dataForm.valid" (click)="signup()">Sign in</button>
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="#">Registrarme</a></div>
    </div>
</body>

<ng-template #modalEventContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Agregar evento</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <app-newevent
          [public]="true"
          (buttonClicked)="parentEventHandlerFunction($event)"
        ></app-newevent>
      </div>
    </div>
  </ng-template>